<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Force NuGet to restore packages locally -->
  <config>
    <add key="repositoryPath" value="./packages" />
  </config>

  <!-- Offline package source (local folder) -->
  <packageSources>
    <clear />
    <add key="local-offline"
         value="./packages" />
  </packageSources>

</configuration>